<!doctype html>
<html>
<head>
	<title>Bitcoin laskuri</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="bitcoincalc">
	<div ng-controller="uiController" ng-init="init()">
		<input type="text" name="bitoinamount" ng-model="bitcoinAmount">
		<ul ng-repeat="(key, value) in rates">
			<li>{{key}} {{getCurrencyInBitcoins(value.sell)}}</li>
		</ul>
	</div>
	

</body>
</html>